$arrowColor: rgb(245, 83, 88);
$width: 12px;

.arrow {
  top: 50%;
  position: absolute;
  transform: translateY(-50%);
  height: 40px;
  width: 40px;
  display: block;
  border: 1px solid #C9C9D3;
  cursor: pointer;
  transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 1.5);
  overflow: hidden;
}

.arrow-slide {
  left: auto;
  right: -100%;
  top: 0;
  width: 100%;
  height: 100%;
  background: #d1d1d1;
  position: absolute;
  display: block;
  z-index: 0;
}

.top-arm,
.bottom-arm {
  position: absolute;
  left: 8px;
  width: 20px;
  z-index: 1;
  background-color: transparent;
  border-radius: 2px;

  &:after {
    content: "";
    background-color: #666;
    width: 20px;
    height: 1px;
    display: block;
    border-radius: 1px;
    transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 1.5);
    z-index: -1;
  }
}

.top-arm {
  top: 14px;
  transform: rotate(-34deg);
}

.bottom-arm {
  top: 25px;
  transform: rotate(34deg);
}


.left {
  &.arrow {
    left: 0;

    .top-arm,
    .bottom-arm {
      &:after {
        transform-origin: top left;
      }
    }
  }
}

.right {
  &.arrow {
    right: 0;

    .top-arm {
      transform: rotate(34deg);
    }

    .bottom-arm {
      transform: rotate(-34deg);
    }

    .top-arm,
    .bottom-arm {
      &:after {
        transform-origin: top right;
      }
    }
  }

  .arrow-slide {
    left: -100%;
    right: auto;
  }
}

.arrow:hover {
  .top-arm:after {
    transform: rotate(10deg);
  }

  .bottom-arm:after {
    transform: rotate(-10deg);
  }

  .arrow-slide {
    transition: all .4s ease-in-out;
    transform: translateX(-200%);
  }

  &.right {
    .top-arm:after {
      transform: rotate(-10deg);
    }

    .bottom-arm:after {
      transform: rotate(10deg);
    }

    .arrow-slide {
      transform: translateX(200%);
    }
  }
}